In [19]:
import pandas as pd

In [20]:
provinces = pd.read_csv('provinces.csv')
provinces.head()
# list(provinces.columns.values)

,OBJECTID,ID_0,ISO,NAME_0,ID_1,NAME_1,HASC_1,CCN_1,CCA_1,TYPE_1,ENGTYPE_1,NL_NAME_1,VARNAME_1
0,1,68,ECU,Ecuador,1,Azuay,EC.AZ,NaN,NaN,Provincia,Province,NaN,NaN
1,2,68,ECU,Ecuador,2,Bolivar,EC.BO,NaN,NaN,Provincia,Province,NaN,NaN
2,3,68,ECU,Ecuador,3,Cañar,EC.CN,NaN,NaN,Provincia,Province,NaN,NaN
3,4,68,ECU,Ecuador,4,Carchi,EC.CR,NaN,NaN,Provincia,Province,NaN,NaN
4,5,68,ECU,Ecuador,5,Chimborazo,EC.CB,NaN,NaN,Provincia,Province,NaN,NaN

In [21]:
ambiental_2018 = pd.read_csv('ambiental_2018.csv')
ambiental_2018.head()
# list(ambiental_2018.columns.values)

/var/folders/9f/krhpqyz55zs0jmwtnw2jsddc0000gn/T/ipykernel_12802/1341394903.py:1: DtypeWarning: Columns (10,11,12,13,14,16,17,18,19,20,25,29,30,31,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,74,75,76,77,78,79,80,82,83,84,85,86,87,88,89,90,92,93,94,95,96,97,98,99,100,105,109) have mixed types. Specify dtype option on import or set low_memory=False.
  ambiental_2018 = pd.read_csv('ambiental_2018.csv')

,area,ciudad,conglomerado,vivienda,hogar,estrato4,fexp4,sel,upm,id_hogar,...,s101p183,S12P9,S12P13,S12P16,S12P16C,P1,NACIONAL,ciudad_num,P12,P14
0,2,170184,909202,5,1,3023,1776.490234,1,170184909202,170184909202051,...,4,1,1,1,1,1,1,170184,2,2
1,1,30450,5405,3,1,312,330.985199,1,30450005405,30450005405031,...,1,1,1,1,1,1,1,30450,1,2
2,2,180750,902901,5,1,1822,390.731506,1,180750902901,180750902901051,...,3,1,1,1,1,1,1,180750,2,2
3,1,50150,10504,9,1,512,162.877426,1,50150010504,50150010504091,...,3,1,1,1,1,1,1,50150,1,2
4,1,20550,901,5,1,212,93.333824,1,20550000901,20550000901051,...,5,1,1,1,1,2,1,20550,1,2

In [22]:
ambiental_2019 = pd.read_csv('ambiental_2019.csv')
ambiental_2019.head()
# list(ambiental_2019.columns.values)

/var/folders/9f/krhpqyz55zs0jmwtnw2jsddc0000gn/T/ipykernel_12802/1748048179.py:1: DtypeWarning: Columns (67) have mixed types. Specify dtype option on import or set low_memory=False.
  ambiental_2019 = pd.read_csv('ambiental_2019.csv')

,area,ciudad,conglomerado,vivienda,hogar,s101p11,s101p12a,s101p12b,s101p12c,s101p12d,...,s101p175,s101p176,s101p181,s101p182,s101p183,s101obs,upm,fexp4,estrato4,id_hogar
0,urbana,10150,1804,1,1,1,1,1,1,1,...,3,1,1,5,5,,10150001804,374.31235,2712,10150001804011
1,urbana,10150,1804,2,1,1,1,1,1,1,...,5,5,1,5,1,,10150001804,374.31235,2712,10150001804021
2,urbana,10150,1804,4,1,1,1,1,2,2,...,3,1,5,4,5,,10150001804,374.31235,2712,10150001804041
3,urbana,10150,1804,6,1,1,1,1,1,1,...,5,1,3,3,5,,10150001804,374.31235,2712,10150001804061
4,urbana,10150,1804,7,1,2,1,2,2,2,...,3,3,2,4,5,,10150001804,374.31235,2712,10150001804071

In [23]:
ambiental_2022 = pd.read_csv('ambiental_2022.csv')
ambiental_2022.head()
# list(ambiental_2022.columns.values)

,area,ciudad,conglomerado,panelm,vivienda,hogar,s91p7,s91p8a,s91p8b,s91p8c,...,s91p126,s91p131,s91p132,s91p133,estrato,fexp,upm,id_vivienda,id_hogar,periodo
0,1,10150,1101,28,2,1,1,6,5,5,...,2,2,4,5,2713,402.832298,10150001101,1015000110102802,10150001101028021,202210
1,1,10150,1101,28,3,1,1,1,2,2,...,5,5,5,5,2713,402.832298,10150001101,1015000110102803,10150001101028031,202210
2,1,10150,1101,28,4,1,1,1,2,2,...,2,2,4,4,2713,402.832298,10150001101,1015000110102804,10150001101028041,202210
3,1,10150,1101,28,6,1,1,6,2,2,...,2,2,5,5,2713,402.832298,10150001101,1015000110102806,10150001101028061,202210
4,1,10150,1101,28,8,1,1,6,5,5,...,2,5,5,5,2713,402.832298,10150001101,1015000110102808,10150001101028081,202210